{% extends 'users/base.html' %}

{% block title %}Success{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="alert alert-success" role="alert">
            <h1 class="alert-heading">Thank you for buying courses from us!</h1>
            <p class="mb-0">Your order was completed successfully.</p>
        </div>

        <p>You can check out all the available or upcoming classes
            <a href="{% url 'classroom:classroom_list' %}">Explore Classes</a>
        .</p>
    </div>
{% endblock %}
