<main>
        <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
    <a href="/static" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Dashboard</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link text-white" width="16" height="16" aria-current="page">
          Home
        </a>
      </li>
      <li>
        <a href="{% url 'dashboard:teacher_list' %}" class="nav-link text-white">
          Teachers
        </a>
      </li>
      <li>
        <a href="{% url 'dashboard:student_list' %}" class="nav-link text-white">
          Students
        </a>
      </li>
      <li>
        <a href="{% url 'dashboard:classroom_list' %}" class="nav-link text-white">
          Classes
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          Other
        </a>
      </li>
    </ul>
    <hr>

  </div>
    </main>